<center>
	Tucson, AZ:<br>
	<a href=http://cleardarksky.com/c/TucsonAZkey.html> <img src="http://cleardarksky.com/c/TucsonAZcs0.gif?1"></a><br>

	Kitt Peak, AZ:<br>
	<a href=http://cleardarksky.com/c/KittAZkey.html> <img src="http://cleardarksky.com/c/KittAZcs0.gif?1"></a><br>

	Mount Graham, AZ:<br>
	<a href=http://cleardarksky.com/c/MtGrahamAZkey.html> <img src="http://cleardarksky.com/c/MtGrahamAZcs0.gif?1"></a><br>

	Tempe, AZ:<br>
	<a href=http://cleardarksky.com/c/TempeAZkey.html> <img src="http://cleardarksky.com/c/TempeAZcs0.gif?1"></a><br>

	Puyallup, WA:<br>
	<a href=http://cleardarksky.com/c/GrhmWAkey.html> <img src="http://cleardarksky.com/c/GrhmWAcs0.gif?1"></a><br>
</center>
