<p class="view">
	[ <a href="{{ site.baseurl }}index.html">Home</a>
	| <a href="{{ site.baseurl }}news.html">News</a> ]
</p>
<hr>
<p class="view">
	[ <a href="{{ site.baseurl }}research.html">Research</a>
	| <a href="{{ site.baseurl }}publications.html">Publications</a>
	| <a href="{{ site.baseurl }}cv.html">CV</a> ]
</p>
<hr>
<p class="view">
	[ <a href="{{ site.baseurl }}code.html">Code</a>
	| <a href="{{ site.baseurl }}teaching.html">Teaching</a>
	| <a href="{{ site.baseurl }}outreach.html">Outreach</a> ]
</p>
<hr>
<p class="view">
	[ <a href="{{ site.baseurl }}personal.html">Personal</a>
	| <a href="{{ site.baseurl }}links.html">Links</a>
	| <a href="{{ site.baseurl }}contact.html">Contact</a> ]
</p>
