<!--
<p class="view"><a href="index.html">Home</a></p>
<hr>
<p class="view"><a href="research.html">Research</a></p>
<p class="view"><a href="code.html">Code</a></p>
<p class="view"><a href="teaching.html">Teaching</a></p>
<p class="view"><a href="outreach.html">Outreach</a></p>
<hr>
<p class="view"><a href="publications.html">Publications</a></p>
<p class="view"><a href="cv.html">Curriculum Vitae</a></p>
<hr>
<p class="view"><a href="personal.html">Personal</a></p>
<p class="view"><a href="links.html">Links</a></p>
<p class="view"><a href="contact.html">Contact</a></p>
-->
<p class="view">
	<a href="index.html">Home</a>
</p>
<hr>
<p class="view">
	<a href="research.html">Research</a><br>
	<a href="code.html">Code</a><br>
	<a href="teaching.html">Teaching</a><br>
	<a href="outreach.html">Outreach</a>
</p>
<hr>
<p class="view">
	<a href="publications.html">Publications</a></br>
	<a href="cv.html">Curriculum Vitae</a>
</p>
<hr>
<p class="view">
	<a href="personal.html">Personal</a></br>
	<a href="links.html">Links</a><br>
	<a href="contact.html">Contact</a>
</p>
<hr>
